* {
  margin: 0;
  padding: 0;

  background-color: #ffaabb;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator {
  width: clamp(300px, 50%, 600px);
  height: 50%;
  box-sizing: border-box;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.5fr repeat(5, 1fr);
  gap: 8px;

  background-color: #202020;
  border-radius: 16px;
}

#screen {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 8px 0;
  padding: 0 16px;
  display: flex;

  justify-content: end;
  align-items: center;

  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  color: #101010;
  overflow: hidden;

  background-color: #50bb50;
  border-radius: 8px;
}

button {
  color: #eee;
  border: none;
  border-radius: 8px;

  font-size: 2rem;

  cursor: pointer;
}

.number {
  background-color: #505050;

  transition: all 0.12s;
}

.number:hover {
  background-color: #606060;
}

.operator {
  background-color: #101010;

  transition: all 0.12s;
}

.operator:hover {
  background-color: #151515;
}

#clear {
  grid-column-start: 1;
  grid-column-end: 3;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

#btn-equals {
  grid-column-start: 4;
  grid-row-start: 5;
  grid-row-end: 7;

  background-color: #ee6000;

  transition: all 0.12s;
}

#btn-equals:hover {
  background-color: #cc5000;
}

/* Instructions -------------------------------------------------------------- */

.instructions {
  margin: 24px;
  width: clamp(300px, 50%, 600px);
  display: flex;
  flex-direction: column;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
}

.switch-container {
  display: flex;
  align-items: center;
  width: 140px;
  align-self: center;
  margin-bottom: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: auto;
  display: flex;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2cbb57;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.instructions > p {
  
}

.hide {
  background-color: #50bb50;
  width: 100%;
  position: absolute;
  top: 42px;
  display: none;
}